.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.navbar {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.hero-section {
  background-color: #f4f4f4;
  padding: 100px 20px;
  border-bottom: 2px solid #ddd; /* هذا الخط هو الذي يحدد الـ Section */
}